.mentor-name-container {
    z-index: 10;
    width: 10%;
    position: fixed;
    left: calc(100vh + 10%/2);
}

.mentor-name {
    display: grid;
    place-items: center;

    background: var(--green3);
    font-weight: 500;
    font-size: 1.75rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    min-width: 300px;
}