@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

:root {
  --green1: #4CAF50;
  --green1-light: #C5F8C7;
  --green2: #609B6C;
  --green2-light: #7ABD87;
  --green3: rgba(0, 162, 7, 0.17);
}

.mentors-page {
  min-height: 100vh;
  display: flex;
}